@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



img {
    width: 30%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    width: 30%;
    padding: 1.2em 0;
    width: 100%;
    text-align: center;
}

/* 30 + 30 + 30

10% */


/* * {
    max-width: 100%;
    box-sizing: border-box;
} */

footer {
    flex-direction: row;
    display: block;
    justify-content: center;
    background-color: black;
    margin: 0px;
}



.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

body {
    margin: 0px;
}


ul {
    list-style: none;
}

.Footer {
    display: flex;
    flex-direction: row !important;
}

.Footer div {
    max-width: fit-content;
}

.Image-div {
    display: flex;
    justify-content: space-around;
    ;
}

@media (max-width:860px) {

    main {
        margin: 0px 15px 0px 15px !important;
    }

    .Image-div {
        flex-direction: column !important;
    }

    .Image-div img {
        margin: 25px 25px 25px 25px !important;
        width: 95% !important;
    }

    .Image-div img:last-child {
        height: auto;
    }
}


p {
    font-size: x-large;
    font-family: "Arial", Helvetica, sans-serif;
}

button {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    transition: ease;
}

button:hover {
    background-color: grey;
}




.content {
    min-height: 70vh;
    height: calc(70vh - 150px);
    /* Subtract height of footer */
    box-sizing: border-box;
    padding: 20px;
}

.footer {
    height: 150px !important;
}

.copywrite p {
    font-size: medium;
}

@media (max-width:1250px) {
    .home-div {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .son-div {
        display: flex;
        justify-content: center
    }
}

@media (max-width:645px) {
    .bachir-pic {
        width: 270px !important;
    }
}

video {
    width: 30%;
    height: 20%;
}

source {
    width: 30%;
    height: 20%;
}